@model WebApplication1.Models.Dispositivo

@{
    ViewBag.Title = "Agregar Dispositivo";
}

<h2>@ViewBag.Title</h2>
  
@using (Html.BeginForm("Create", "Dispositivo", FormMethod.Post))
{
    <div class="form-group">
        <label>Nombre:</label>
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Latitud:</label>
        
        @Html.TextBoxFor(model => model.Latitud, new { @class = "form-control", @id = "campoLatitud" })


    </div>

    <div class="form-group">
        <label>Longitud:</label>
       @Html.TextBoxFor(model => model.Longitud, new { @class = "form-control", @id = "campoLongitud" })
    </div>

    <div class="form-group">
        <label>Descripción:</label>
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Prioridad:</label>
        @Html.DropDownListFor(model => model.Prioridad, 
            Enumerable.Range(1,5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }).ToList(),
            "Seleccione la prioridad", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Estatus:</label>
        @Html.DropDownListFor(model => model.Estatus, new List<SelectListItem> {
            new SelectListItem { Text = "Encendido", Value = "Encendido" },
            new SelectListItem { Text = "Apagado", Value = "Apagado" }
        }, "Seleccione el estatus", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Litros Registrados:</label>
        @Html.TextBoxFor(model => model.LitrosRegistrados, new { @class = "form-control" })
    </div>

   <div class="form-group">
        <label>Responsable:</label>
        @Html.DropDownListFor(model => model.Responsable, new List<SelectListItem> {
            new SelectListItem { Text = "Emmanuel Hernandez", Value = "Emmanuel Hernandez" },
            new SelectListItem { Text = "Enrique De Jesus ", Value = "Enrique De Jesus" },
            new SelectListItem { Text = "Marco Antonio Aguilar", Value = "Marco Antonio Aguilar" },
            new SelectListItem { Text = "Luisa Peralta", Value = "Luisa Peralta" }
        }, "Seleccione un responsable", new { @class = "form-control" })
    </div>

      <div class="form-group">
        <label>Zona:</label>
        @Html.DropDownListFor(model => model.Zona, 
            Enumerable.Range(1,10).Select(i => new SelectListItem { Text = "Zona " + i, Value = "Zona " + i }).ToList(),
            "Seleccione la zona", new { @class = "form-control" })
    </div>


    <button type="submit" class="btn btn-primary">Agregar</button>

    
}
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var lat = localStorage.getItem('latitud');
    var lon = localStorage.getItem('longitud');

    if (lat && lon) {
        document.getElementById('campoLatitud').value = lat;
        document.getElementById('campoLongitud').value = lon;
    }
});

</script>
